.nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.link {
  text-decoration: none;
  color: #374151; /* сірий темний */
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  transition: background-color 0.2s, color 0.2s;
}

/* .link:hover {
  background-color: #e5e7eb;
} */

.active {
  background-color: #3b82f6; /* синій */
  color: white;
}
