/* Загальний контейнер сторінки */
.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f9fafb; /* світлий фон */
}

/* Header з LocaleSwitcher */
.header {
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 0.2rem 1rem;
  display: flex;
  justify-content: space-between;
}

/* Контейнер body: sidebar + main */
.body {
  display: flex;
  flex: 1;
}

/* Sidebar */
.sidebar {
  width: fit-content; /* 64 * 0.25rem = 16rem */
  background-color: #f3f4f6;
  padding: 1rem;
  border-right: 1px solid #d1d5db;
}

/* Основний контент */
.main {
  flex: 1;
  padding: 1.5rem;
}

